.action-buttons {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.action-buttons button {
    padding: 8px 12px;
    border-radius: var(--border-radius);
    background-color: var(--second-color);
    color: var(--txt-white);
    border: none;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.action-buttons input[type="text"] {
    padding: 8px;
    border-radius: var(--border-radius);
    border: 1px solid #ccc;
    font-size: 14px;
}

.action-buttons button:hover {
    background-color: #eaeaea;
    color: var(--txt-white);
}

.action-buttons button:focus {
    outline: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.action-buttons .top-btn {
    margin-top: 20px;
}
