


.section {
  display: inline-block;

  height: 100vh; /* Die Höhe auf 100vh setzen */
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
    margin-top: 4rem;

}

