.faqs {
    text-align: center;
    margin-top: 2 rem;
}

.faqs_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    background-color: var(--black);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faq {
    padding: 2rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background-color: var(--primary);
    color: var(--bg);
    text-align: justify;
    cursor: pointer;
    border-radius: 1rem;
}

.faq h4 {
    font-size: 1rem;
    line-height: 2.23;
}

.faq_icon {
    align-self: flex-start;
    font-size: 1.3rem;
}

.faq p {
    margin-top: 0.8rem;
    display: none;
}

/* for showing ans on click */
.faq.open p {
    display: block;
}