.cases-container {
    display: flex;
    transition: transform 5s ease-out; /* Adjust the duration and easing as desired */
  }
  
  .cases-container.rolling {
    animation: rolling 5s ease-out forwards; /* Adjust the duration and easing as desired */
  }
  
  @keyframes rolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%); /* Adjust the translation distance as needed */
    }
  }
  