<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>404</title>
</head>
<body>
    <img src="{{ url_for('static', filename='img/black-guy-getting-smacked-down.gif') }}" alt="Unauthorized">
    <img src="{{ url_for('static', filename='img/dying-dead.gif') }}" alt="Unauthorized">
    <img src="{{ url_for('static', filename='img/glizzy.gif') }}" alt="Unauthorized">
    <img src="{{ url_for('static', filename='img/super-mario-cursed-satanic-cult-ritual-f9nnz7xxvtj6m2sg.gif') }}" alt="Unauthorized">
    
</body>
</html>