<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <script src="../static/js/api.js" type="module"></script>
    <script>
        function toggleKey() {
            var x = document.getElementById("api_key_div");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</head>

<body>
    <h1>Logged in</h1>
    <a href="{{ url_for('logout') }}">Log out</a>

    <br>
    <br>

    <input type="text" id="api_key_input" placeholder="Enter API key">
    <button id="saveBtn">Save API Key</button>
    <br>
    <button onclick="toggleKey()" id="show_api_key">Show API key</button>
    <div id="api_key_div" style="display: none;">
        <p style="font-weight: 1000;">API KEY:</p>
        <p id="api_key_paragraph"></p>
    </div>

    <h3>Folders:</h3>
    <p>Create a new folder:</p>
    <form method="POST" action="">
        {{ folder_form.hidden_tag() }}
        {{ folder_form.folder }}
        {{ folder_form.submit }}
    </form>
    {% for folder in user.folders %}
    <table style="width: 25%; background-color: rgb(0, 0, 0);">
        <tr style="background-color: rgb(235, 235, 235);">
            <td>
                <a href="{{ url_for('note', note_id=folder.id) }}">{{ folder.name }}</a>
                <form method="POST" action="{{ url_for('delete_folder', folder_id=folder.id) }}">
                    <input type="hidden" name="folder_id" value="{{ folder.id }}">
                    <button type="submit">Delete Folder</button>
                </form>
            </td>
        </tr>
        {% for note in folder.notes %}
        <tr style="background-color: rgb(255, 0, 0);">
            <td>
                <a href="{{ url_for('note', note_id=note.id) }}">{{ note.name }}</a>
                <form method="POST" action="{{ url_for('delete_note', note_id=note.id) }}">
                    <input type="hidden" name="note_id" value="{{ note.id }}">
                    <button type="submit">Delete Note</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}

    <h3>Notes:</h3>
    <p>Create a new note:</p>
    <form method="POST" action="">
        {{ notes_form.hidden_tag() }}
        {{ notes_form.folder_id.label }} {{ notes_form.folder_id }}
        {{ notes_form.note_name.label }} {{ notes_form.note_name }}
        {{ notes_form.note_text.label }} {{ notes_form.note_text }}
        {{ notes_form.submit }}
    </form>
</body>

</html>
