<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <script src="../static/js/api.js" type="module"></script>

</head>

<body>
    <h1>Logged in</h1>
    <a href="{{url_for('logout')}}">Log out</a>
    <h3>api key: {{current_user.api_key}}</h3>

    <form method="POST" action="">
        update api key:
        {{ api_form.hidden_tag()}}
        {{ api_form.api_key}}
        {{ api_form.submit}}
    </form>

    <input type="text" id="api_key_input" placeholder="Enter API key">
    <button id="saveBtn">Save API Key</button>

    <h3>Notes: </h3>
    <p>create new note: </p>
    <form method="POST" action="">
        {{ notes_form.hidden_tag() }}
        {{ notes_form.note }}
        {{ notes_form.submit }}
    </form>
    <ul>
        {% for note in notes %}
        <li><a href="{{ url_for('note', note_id=note.id) }}">{{ note.name }}</a></li>
        {% endfor %}
    </ul>


</body>

</html>