<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Meta Plate</title>
</head>

<body>
    <h1>Meta Plate</h1>

    <form method="POST">
        <input type="text" name="ask" placeholder="Ask a question">
        <input type="submit" name="submit" value="Submit">
    </form>
    
    {% if context %}
    <h3>Context:</h3>
    <ul>
        {% for item in context %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% if answers %}
    <h3>Answers:</h3>
    <ul>
        {% for answer in answers %}
        <li>{{ answer['role'] }}: {{ answer['content'] }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>



    
</html>