<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/note.css') }}">
    <title>Note</title>
</head>

<body>
    <h1>Note: {{ note }}</h1>
    <form action="{{ url_for('note') }}" method="POST">
        <h1>Note: {{ note }}</h1>
        <textarea id="text_area" rows="40" cols="80" name="note_content"></textarea>
        <button type="submit">Save</button>
    </form>
</body>

</html>