<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAW</title>
</head>
<body>
    <h1>NAAAWWWWWWW BRO PROBIERT HÄCKE🤓💀💀💀💀</h1>
    <img src="{{ url_for('static', filename='img/rotating-skull.gif') }}" alt="Unauthorized">
    <img src="{{ url_for('static', filename='img/social-credit.gif') }}" alt="Unauthorized">
    <img src="{{ url_for('static', filename='img/dance-goofy-ahh.gif') }}" alt="Unauthorized">
    <img src="{{ url_for('static', filename='img/6spw7u.gif') }}" alt="Unauthorized">
    <img src="{{ url_for('static', filename='img/download.gif') }}" alt="Unauthorized">
</body>
</html>