body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  display: inline-block;
  height: 100vh; /* Die Höhe auf 100vh setzen */
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
    padding:50px;
    padding-top: 4rem;
}



.background {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 110%;
    z-index: -1;
    overflow: hidden;
    border: none;
  }
